<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form">
        <input class="form-control" placeholder="Wpisz miasto" #cityInput type="text">
        <button class="btn btn-primary" (click)="getCity(cityInput.value)">Sprawdź</button>
      </div>

      <div [class.active]="condition" class="weather-box shadow">
        <div class="row">
          <div class="col-12">
            <h2>{{weather.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p>Temperatura: {{weather.main.temp  - 273 }} <sup>o</sup>C</p>
          </div>
          <div class="col-6">
            <p>Wilgotność: {{weather.main.humidity }}</p>
          </div>
        </div>
        <!--<div class="row">-->
          <!--<div class="col-6">-->
            <!--<p>Wiatr: {{weather.wind.direction }}</p>-->
          <!--</div>-->
          <!--<div class="col-6">-->
            <!--<p>Zachmurzenie: {{weather.weather.description }}</p>-->
          <!--</div>-->
        <!--</div>-->
      </div>

    </div>
  </div>
</div>


