.weather-box
  width: 100%
  padding: 20px 20px 40px 20px
  display: none
  &.active
    display: block

.form
  display: flex
  align-items: center
  width: 400px
  justify-content: space-between
  margin: 0 auto
  padding: 30px 20px 50px 20px
  input
    width: 70%

