<!--The content below is only a placeholder and can be replaced.-->
<div class="main-box">
<div class="container">
  <div class="row">
    <div class="col-12">
        <h1>WeatherApp</h1>
      </div>
    </div>
  </div>
</div>

<app-form></app-form>


<router-outlet></router-outlet>
